<div role="tablist" class="tabs tabs-boxed mb-6 overflow-x-auto">
    <a href="/" role="tab" class="tab{% if include.active_tab == 'IMAGE' %} tab-active{% endif %}">IMAGE</a>
    <a href="/txt/" role="tab" class="tab{% if include.active_tab == 'TXT' %} tab-active{% endif %}">TXT</a>
    <a href="/csv/" role="tab" class="tab{% if include.active_tab == 'CSV' %} tab-active{% endif %}">CSV</a>
    <a href="/pdf/" role="tab" class="tab{% if include.active_tab == 'PDF' %} tab-active{% endif %}">PDF</a>
    <a href="/bin/" role="tab" class="tab{% if include.active_tab == 'BIN' %} tab-active{% endif %}">BIN</a>
    <a href="/zip/" role="tab" class="tab{% if include.active_tab == 'ZIP' %} tab-active{% endif %}">ZIP</a>
</div>
